@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
}

:root {
    --menu-color-1: #EC0B78;
    --text-color-1: #3C3C3C;
    --black-1: #3D3D3D;
    --grey-1: #CACACA;
    --grey-2: #959595;
    --blue-1: #0C4DA2;
    --blue-2: #01234F;
    --white: white;
    --card-color: #F1F1F1;
    --p-color: rgb(155, 152, 152);
}